@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


.tamaño-texto{
    font-size: 65px;
    font-family: 'Archivo Black', sans-serif;
}

.parrafo1{
    height: 106px;
    width: 421px;
    font-size: 18px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.parrafo2{
    width: 650px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 21px;
}

.customtext {
    background: linear-gradient(89deg, #FFEC3E 3.19%, #FFB23E 86.97%);
    -webkit-background-clip: text; 
    background-clip: text;
    color: transparent;
    font-weight: bold;
    
}

.navbarHeight{
    height: 80px;
    filter: blur(98%);
}

.playBlur{
    margin-top: 200px;
}

.confgbutton{
    border-radius: 26px;
    background: linear-gradient(90deg, #FFEC3E 1.51%, #FFB23E 99.93%);
    width: 208px;
    height: 59px;
    flex-shrink: 0;
}

.configButtonLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 26px;
    border: 2px solid rgba(247, 211, 51, 0.856);
    background: rgba(217, 217, 217, 0.03);
}

.confButtonAcces{
    width: 180px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 26px;
    border: 2px solid rgba(255, 178, 62, 0.19);
    background: rgba(217, 217, 217, 0.03);
    top: 60px;
    margin-right: 10px;
    margin-left: 10px;
}

.confButtonAcces:active{
    background-color: rgba(88, 88, 88, 0.438);
}

.title2{
    font-size: 54px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.customtext2 {
    background: linear-gradient(89deg, #42413f 3.19%, #dfd813 86.97%);
    -webkit-background-clip: text; 
    background-clip: text;
    color: transparent;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: bold;
}


/*david*/
.customtextw{

background: linear-gradient(90deg, rgba(255, 255, 255, 0.37) 0.34%, #FFEC3E 53.41%, #FFB23E 89.72%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
text-align: center;
font-family: 'Poppins', Arial, Helvetica, sans-serif;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.title-complement3 {
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.37) 0.34%,
      #FFEC3E 53.41%,
      #FFB23E 89.72%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

.ptitle-complement3{
    color: #FFF;
text-align: center;
font-family: 'Poppins', Arial, Helvetica, sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 866px;
margin: 0 auto;
}
.spanptitlec3{
color: #FFF;
font-family: 'Poppins', Arial, Helvetica, sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.c3-tp{
    height: 889px;
    position: relative;
}
.imgc3t{
    margin-top: 500px ;
}
.customtextc3{
font-family: 'Poppins', Arial, Helvetica, sans-serif;    
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 35px;
background: linear-gradient(88deg, #FFEC3E 2.03%, #FFB23E 34.63%, #b7e045 81.07%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
padding: 50px 150px 10px 150px;
}

.ptitle-complement4{
    color: #FFF;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;   
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 30px 150px;
    letter-spacing: 1px;
}
.ptitle-complement4-span{
color: #FFF;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.imgc3tct3{

    margin-top: 520px;
}
.c3-tp2{
    position:relative;
    height:1024px ;
}
.c3-t3{
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.37) 0.34%, #FFEC3E 53.41%, #FFB23E 89.72%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Poppins', Arial, Helvetica, sans-serif; 
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 55px;
}

.imgc3tct4{
    margin-top: 520px;
}
.imgc3tct5{
    margin-top: 520px;
}
.imgc3tct6{
    margin-top: 1000px;
}
.customtextc3t4{
    text-align: center;
    font-family: 'Poppins', Arial, Helvetica, sans-serif; 
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
background: linear-gradient(92deg, #FFEC3E 2.23%, #FFB23E 26.38%, rgba(255, 255, 255, 0.00) 104.18%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
width: 1077px;
height: 170px;
flex-shrink: 0;
text-align: center;
}
.customtextc3t5{
    width: 318px;
height: 41px;
flex-shrink: 0;
font-family: 'Poppins', Arial, Helvetica, sans-serif; 
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
background: linear-gradient(92deg, #FFF 2.23%, #FFB23E 104.17%, rgba(255, 255, 255, 0.00) 104.18%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
text-align: center;
}

.imgsearch{
    opacity: 0.75;
    margin-Left: 113px;
}
.imgfilterpers {
    width: 733px;
    height: 377px;
    flex-shrink: 0;
    filter: blur(7.5px);
    margin-right: 212px;
    margin-top: 200px;
    
}
.customtextc3t6{
    font-family: 'Poppins', Arial, Helvetica, sans-serif; 
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
background: linear-gradient(88deg, #FFEC3E 1.44%, #FFB23E 92.59%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
margin: 106px auto 67px 246px;
}
.p-customtextc3t6{
color: #FFF;
font-family: 'Poppins', Arial, Helvetica, sans-serif; 
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 30px;
width: 801px;
height: 296px;
flex-shrink: 0;
text-align: center;
margin: 0 auto auto 246px;
text-align: justify;
letter-spacing: 1px;
}
.span-customtextc3t6{
    color: #FFF;
    font-family: 'Poppins', Arial, Helvetica, sans-serif; 
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.imglooping{
flex-shrink: 0;
margin-top: 300px;
}


.container{
    display: flex;
    align-items: center;
}

.image{
    margin-right: 200px;
}
/*david fin*/


.letter-c2{
    width: 614.797px;
    transform: rotate(-23.109deg);
    font-family: Poppins;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    opacity: 0.15;
    background: linear-gradient(92deg, rgba(255, 255, 255, 0.37) 1.61%, rgba(255, 236, 62, 0.34) 59.23%, rgba(255, 178, 62, 0.13) 76.39%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

