@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Poppins&display=swap');

.tamaño-texto{
    font-size: 50px;
    font-family: 'Archivo Black', sans-serif;
}

.parrafo1{
    height: 106px;
    width: 421px;
    font-size: 20;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.parrafo2{
    width: 600px;
}

.customtext {
    background: linear-gradient(89deg, #FFEC3E 3.19%, #FFB23E 86.97%);
    -webkit-background-clip: text; 
    background-clip: text;
    color: transparent;
}

.navbarHeight{
    height: 80px;
    filter: blur(98%);
}

.playBlur{
    margin-top: 200px;
}

.confgbutton{
    border-radius: 26px;
    background: linear-gradient(90deg, #FFEC3E 1.51%, #FFB23E 99.93%);
    width: 208px;
    height: 59px;
    flex-shrink: 0;
}

.configButtonLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 26px;
    border: 2px solid rgba(247, 211, 51, 0.856);
    background: rgba(217, 217, 217, 0.03);
}

.confButtonAcces{
    width: 180px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 26px;
    border: 2px solid rgba(255, 178, 62, 0.19);
    background: rgba(217, 217, 217, 0.03);
    top: 60px;
}

.confButtonAcces:active{
    background-color: rgba(88, 88, 88, 0.438);
}

.title2{
    font-size: 54px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
